.test a {
    color: black;
}

.test .ans-map {
    border: 1px solid #b3b3b3;
    border-radius: 10px;
    height: 2020px;
}

.test .ans-map .time-ans{
    width: 100%;
    height: 80px;
    background-color: red; 
    background-image: linear-gradient(to bottom, #3385ff , violet);
    line-height: 80px;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    font-weight: 900;
    border-radius: 10px 10px 0px 0px;
}

.test .ans-map .time-ans i{
    margin-right: 10px;
}

.test .ans-map .ans-ques {
    width: 35px;
    height: 35px;
    border: 1px solid #ff3333;
    border-radius: 50%;
    margin: 10px;
    text-align: center;
    line-height: 33px;
}

.test .ans-map .active{
    background-color:#ff3333;
    color: #ffffff;
}

/* .test .ans-map .active a{
    color: #ffffff;
} */

.test .ans-map a{
    font-size: 15px;
    color: black;
}

.test .ans-map .sub{
    text-align: center;
    margin: 10px;
    font-size: 25px;
}

.test #part1 img{
    width: 250px; 
    height: 100%; 
    padding-bottom: 20px;
}

.test label{
    padding: 5px 30px 5px 15px;
    text-align: center;
    font-size: 15px;
}

.test label:hover{
    background-color:#e6e6e6;
    border-radius: 20px;
}

.result table{
    margin: auto;
}

.result table tr{
    text-align: center;
    width: 50px;
    line-height: 50px;
}

.aptis .btn {
    margin-bottom: 20px;
    width: 350px;
}

.aptis .ans-map{
    height: 360px;
    padding: 0px;
}
.aptis .ans-map .row{
    padding-right: 15px;
}

.aptis .sub input{
    width: 250px;
    font-size: 20px;
    margin: 20px 0px 30px 0px;
}

#aptis-listening .btn-paginate .btn{
    width: 111px;
    margin: 10px;
    text-align: center;
    padding: 0px;
    background: #3333ff;
}
#aptis-grammar .btn-paginate .btn{
    width: 111px;
    margin: 10px;
    text-align: center;
    padding: 0px;
    background: #3333ff;
}

#aptis-grammar table td{
    padding: 5px 30px;
}

.question-listening,.question-reading {
    display: none;
}

.question-vocabulary{
    display: none;
}

.speaking-part{
    display: none;
} 

.part1-question, .part2-question, .part3-question{
    display: none;
}

.block {
    display: block;
}

#aptis-writing .tab-content{
    padding: 20px;
}

#aptis-writing .tab-content input{
    margin: 10px;
    padding: 20px;
    font-size: 16px;
}
#aptis-writing .tab-content textarea{
    margin: 10px;
    font-size: 16px;
}

#aptis-writing .time-ans{
    margin: 30px;
    font-size: 30px;
    font-weight: 900;
}

#aptis-speaking .time-ans{
    margin: 30px;
    font-size: 30px;
    font-weight: 900;
}

#aptis-reading .time-ans{
    margin: 30px;
    font-size: 30px;
    font-weight: 900;
}

#aptis-speaking img{
    width: 350px;
    height: 200px;
    max-width: 100%;
    object-fit: cover;
}

#aptis-results .test{
    padding: 40px 0px;
}

#aptis-results .tab-content{
    padding: 40px 0px;
}

#aptis-results .question{
    padding: 10px;
    border: 1px solid;
}



